$main-color: #ffffff;
$first-accent-color: #f38181;
$second-accent-color: #fce38a;
$text-color: #999999;
$title-color: #333333;

$main-font: 'Montserrat';
$main-accent-font: "Kaushan Script";
$text-font: 'Roboto';