/*
@media (min-width: 321px) {

  .container {
    width: 768px;
 }

  .page-header {
     position: relative;
     background-image: url('../img/background2.png');
     height: 700px;
  }


  .site-navigation {
    margin-top: 42px;
    right: 0;
    margin-right: 46px;
  }

  .site-logo {
    margin-left: 46px;
    margin-top: 48px;
  } 

  .first-title {
    font-size: 49px;
    margin-bottom: 30px;
  }

  .second-title {
    margin-left: 4px;
    font-size: 24px;
    margin-bottom: 34px;
  }

  .header-titles {
    width: 492px;
    margin-top: 225px;
    margin-left: 138px;
  }

  .header-button {
   width: 226px;
   margin-left: 132px;
 }

 .header-button {
 
 }

 /* main */
/*
 .third-title {
  margin-bottom: 33px;
}

 .partner-list {
  width: 492px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.partner {
  width: 236px;
  margin-bottom: 56px;
}

.icon {
  margin-left: 145px;
}

.information-of-person {
  padding: 0 10px;
}

.main-button {
  width: 193px;
  margin-left: 286px;
}

.last-list {
  order: 2;
  margin-bottom: 38px;
}

.second-list {
  order: 1;
  margin-bottom: 38px;
}  
     
}


@media (min-width: 769px) {
  .container {
    width: 1440px;
 }

  .page-header {
     background-image: url('../img/background3.png');
  }

  .site-navigation { 
    margin-right: 250px;
  }

  .site-logo {
    margin-left: 248px;
  } 

  .partner-list {
    width: 940px;
  }

  .partner {
    width: 220px;
  }

  .information-of-person {
    padding: 0 2px;
  }

  .main-button {
    width: 193px;
    margin-left: 624px;
  }

  .header-titles {
    width: 500px;
    margin-left: 470px;
  }

  .icon {
    margin-left: 134px;
  }
}
*/