@media (min-width: 768px) {

  .page-header {
    background-image: url('../img/background3.png');
    height: 700px;
 }

  body {
    max-width: 1200px;
    margin: 0 auto;
 }

 .authorization {
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
 }

 .site-navigation {
   margin-right: 50px;
  
 }

 .site-logo {
   margin-top: 35px;
   margin-left: 46px;
 }

 .first-title {
  width: 64.06%;
  margin-bottom: 18px;
  font-size: 52px;
}

.header-button {
  width: 29.42%;
}

.second-title {
  width: 52.6%;
 font-size: 24px;
}

.partner-list {
  flex-flow: row wrap;
  max-width: 640px;
}

.main-button {
  width: 192px;
  margin-top: 26px;
}

.last-list {
  order: 2;
  margin-bottom: 38px;
}

.second-list {
  order: 1;
 margin: 0;
}  
  
}

@media (min-width: 1200px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
 }

 .authorization {
  width: 65.27%;
}

 .partner-list {
   flex-wrap: nowrap;
   max-width: 942px;
}

.information-of-person {
  width: 91%;
}

.main-button {
  margin-top: 38px;
}

}
