html {
    box-sizing: border-box; 
 }
 
 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }

 * {
    margin: 0;
    padding: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 body {
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
 }

 .page-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: url('../img/background2.png') center center no-repeat;
    background-size: auto 100%;
    height: 540px;
 }


 .site-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 116px;
 }

 .site-nav {
   color: #fff;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 14px;
   text-decoration: none;
 }

 .li-site-nav {
   padding: 8px 18px;
 }

 .li-site-nav:hover {
   border: 2px solid #fff;
   border-radius: 18px;
 }

 .site-logo { 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 35px;
 } 

 .first-title {
   margin: 0;
   width: 86.87%;
   margin-bottom: 18px;
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 28px;
   color: #fff;
   text-transform: uppercase;
 }

 .second-title {
   width: 69.37%;
   margin-bottom: 18px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #fff;

 }

 .header-button {
    height: 40px;
    width: 86.87%;
    background-color: #ff4e50;
    border: none;
    border-radius: 20px;
 }

 .link-button {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
 }

 .header-titles {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 34px;
}

 /* main */
 /* styles */

 .third-title {
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 22px;
   color: #333333;
 }

 .name-of-person {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 14px;
   color: #000;
 }

 .information-of-person {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 14px;
   color: #000;
 }
 
 .main-button {
       height: 40px;
       width: 87.5%;
       background-color: #fff;
       text-align: center;
       border: none;
       border-radius: 20px;
       border: 2px solid #f14848;
    }
   
    .link-main-button {
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 14px;
       text-decoration: none;
       color: #f14848;
    }

    /* positioning */

    .main {
       display: flex;
       flex-flow: column wrap;
       justify-content: center;
       align-items: center;
    }

    .third-title {
       margin-top: 68px;
       margin-bottom: 18px;
    }

    .partner-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .partner {
       display: flex;
       flex-direction: column;
       align-items: center;
       max-width: 320px;
       margin-bottom: 26px;
    }

    .photo-wrapper {
       position: relative;
    }

    .photo-of-person {
      align-self: center;
      position: relative;
      
    }

    .icon {
       position: absolute;
       border-radius: 25px;
       border: 4px solid #fff;
       top: 70%;
       left: 72%;
    }

    .name-of-person {
       margin-top: 20px;
    }

    .information-of-person {
      width: 68%;
      margin-top: 14px;
      color: #747474;
    }

    .main-button {
      margin-bottom: 58px;
    }
 


 
 


 


 







 

