html {
    box-sizing: border-box; 
 }
 
 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 .container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
 }

 .page-header {
    position: relative;
    background-image: url('../img/background.png');
    height: 540px;
 }

 .li-site-nav {
    display: inline-block;
    width: 88px;
    height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 6px;
 }

 
.li-site-nav:hover {
   border: 2px solid #fff;
   border-radius: 18px;
 }

 .site-navigation {
    position: absolute;
    width: 180px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-left: 62px;
    list-style: none;
 }

 .site-nav {
   display: inline-block;
   color: #fff;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 14px;
   text-decoration: none;
 }

 .site-logo { 
   position: absolute;
   display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 174px;
    margin-left: 68px;
 } 

 .first-title {
   margin: 0;
   padding: 0;
   margin-bottom: 18px;
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 28px;
   color: #fff;
   text-transform: uppercase;
 }

 .second-title {
   margin: 0;
   padding: 0;
   margin-bottom: 18px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #fff;
   
 }

 .header-button {
    height: 40px;
    width: 280px;
    background-color: #ff4e50;
    border: none;
    border-radius: 20px;
 }

 .link-button {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
 }

 .header-titles {
   position: absolute;
   width: 280px;
   margin-top: 225px;
   margin-left: 20px;
}

 /* main */
 /* styles */

 .third-title {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 22px;
   color: #333333;
 }

 .name-of-person {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 14px;
   color: #000;
 }

 .information-of-person {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 14px;
   color: #000;
 }
 
 .main-button {
       height: 40px;
       width: 280px;
       background-color: #fff;
       text-align: center;
       border: none;
       border-radius: 20px;
       border: 2px solid #f14848;
    }
   
    .link-main-button {
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 14px;
       text-decoration: none;
       color: #f14848;
    }

    /* positioning */

    .third-title {
       margin-top: 68px;
       margin-bottom: 18px;
    }

    .all-people-list {
      display: flex;
      flex-direction: column;
    }

    .people-list {
       position: relative;
       display: flex;
       flex-direction: column;
       width: 320px;
       margin-bottom: 26px;
    }

    .photo-of-person {
      align-self: center;
    }

    .icon {
       position: absolute;
       border-radius: 25px;
       border: 4px solid #fff;
       margin-top: 86px;
       margin-left: 188px;
    }

    .name-of-person {
       margin-top: 20px;
    }

    .information-of-person {
      margin-top: 14px;
      padding: 0 52px;
      color: #747474;
    }

    .main-button {
      margin-bottom: 58px;
      margin-left: 18px;
    }
 


 
 


 


 







 

